@CHARSET "UTF-8";
/***************************公共样式*****************************/
object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead{margin:0;padding:0;word-wrap:break-word;}
body,html{padding:0;margin:0;font:12px/1.5 Arial,"宋体",Verdana,sans-serif;color:#000;}
body{background-color:#f2c4de;text-align:center;}
textarea{font-size:12px;}
table{border-collapse:collapse;border-spacing:0;text-align:center;}
tr{}
img{}
h1,h2,h3,h4,h5,h6{font-size:100%;}h1{font-size:34px;}h2{font-size:26px;}h3{font-size:18px; }h4{font-size:16px;}h5{font-size:14px;}h6{font-size:12px;}
input,label,img,th{vertical-align:top;}
address,cite,dfn,em,var{font-style:normal;}
ul,ol,li{list-style-type:none;}
img,div{border:0px;margin:0px;padding:0px;}
a:link{text-decoration:none;}
a:link{color: #e95e95} a:visited{color: #e95e95} a:hover{color: #e221ae} a:active{color:#e221ae}
.left{ float:left; display:inline;}
.right{ float:right; display:inline;}
.clear{width:100%;height:0;font-size:0;float:none;overflow:hidden;clear:both;}
p{font-size:150%;color:#e95e95; font-weight: bold;line-height: 1; font-family: Arial, Tahoma, sans-serif;}
span{font-size:150%;color:#e95e95; font-weight: bold;line-height: 1; font-family: Arial, Tahoma, sans-serif;}
/***********************************************开头部分******************************/
.zong{background:url(../images/b.jpg) repeat scroll 0 0 transparent;width:1366px;height:620px; margin:0 auto;text-align:left; display:block;z-index:5; overflow:hidden;}
.zon{height:94%; width:87%;margin-left:4.5%;margin-top:15px;}
.zhongjian{width:1188px;height:186px;border-top:1px solid #f2c4de;}
.button{height:63px;width:510px;margin-left:340px;margin-top:55px;overflow: hidden;}
.e{width:227px; height:185px; margin-left:960px;margin-top:-117px;overflow: hidden;}
#work {float:left;list-style:none;height:63px;width:510px;overflow: hidden;}
#work li {float:left;display:block;display:inline;margin-left:20px;}
#work li a {border:none;}
#work a {margin-bottom:0;}
#work li .show{display:block;}
#work li .hide {height: 0;overflow: hidden;}
#work li:hover .hide {cursor: pointer;height: 63px;width:150px;}
#work li:hover .show {height: 0;overflow: hidden;}
.e .show{display:block;}
.e .hide {height: 0;overflow: hidden;background:url(../images/e6.jpg) no-repeat fixed;}
.e:hover .hide {cursor: pointer;height: 185px;width:227px;}
.e:hover .show {height: 0;overflow: hidden;}

/******************************************************中间部分*******************************/

#center{height:400px;display:block;z-index:5; overflow:hidden;}
#center1{height:324px;width:595px;border:3px solid #f2c4de;border-radius:20px;margin-left:300px;margin-top:30px;background:url(../images/findpassword.png);}
#center2{height:225px;width:364px;border:2px dashed #f2c4de;margin-left:115px;margin-top:80px;text-align:center;}
#input{height:55px;width:364px;margin-top:70px;}
#input1{height:20px;width:94px;text-align:center;margin-top:18px;}
#input2{height:55px;width:270px;float:right;margin-top:-40px;}
#button{height:55px;width:364px;}
#button1{height:55px;width:150px;float:left;}
#button2{height:55px;width:150px;float:right;}




