@CHARSET "UTF-8";

/*************************** 公用样式 *****************************/
body,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,q,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead{margin:0;padding:0;word-wrap:break-word;}
body,html,ul,li,div{padding:0;margin:0 auto;}
body{background:url(../images/001.gif);}
textarea{font-size: 150%; line-height: 1;font-weight: bold; font-family: Arial, Tahoma, sans-serif;}
body{font-size: 12px; line-height: 1;font-weight: bold; font-family: Arial, Tahoma, sans-serif;color:#e95e95;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;width:100%;height:100%;}
h1,h2,h3,h4,h5,h6{color:#999999;}
h1,h2,h3,h4,h5,h6{font-size:100%;}h1{font-size:34px;}h2{font-size:26px;}h3{font-size:18px; }h4{font-size:16px;}h5{font-size:14px;}h6{font-size:12px;}
address,cite,dfn,em,var{font-style:normal;}
ul,ol,li{list-style-type:none;}
img,div{border:0px;margin:0px;padding:0px;}
a:link{text-decoration:none;}
.left{ float:left; display:inline;}
.right{ float:right; display:inline;}
.clear{width:100%;height:0;font-size:0;float:none;overflow:hidden;clear:both;}
marquee{font-size: 100%; line-height: 1;font-weight: bold; font-family: Arial, Tahoma, sans-serif;color:#e95e95;}
p{font-size: 100%; font-weight: bold; font-family: Arial, Tahoma, sans-serif;color:#999999;padding-left:50px;margin-top:15px;}
span{font-size: 100%; font-weight: bold; font-family: Arial, Tahoma, sans-serif;color:#999999;}
a:link{color: #e95e95} a:visited{color: #e95e95} a:hover{color: #e221ae} a:active{color:#e221ae}

/************************************框架部分*********************************/
#container {margin:0 auto; width:100%;padding:0;}
.he {margin:0px;padding:0px;position: absolute;z-index:1000;line-height:10px;width:100%;background:url("../images/top1.jpg") repeat center top transparent;height:40px;}
.mainContent {margin:60px auto; position:absolute;width:945px;padding:0;height:580px;background:url(../images/container3.png) repeat center top transparent;border:2px solid #f2c4de;border-radius:10px;}
#bottom { height:70px;border:1px solid red;}
/***********************************头部*****************************/
a{color:#333;text-decoration:none;}
a:hover{color:#ef9b11; text-decoration:none;}
#header {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;margin:0 auto;}
.page {margin-left:15%;WIDTH:600px; background:url(../images/record_lover.png) no-repeat left top transparent;}
#site-nav {POSITION: relative; HEIGHT: 40px;}
#site-nav A {COLOR: #e95e95}
#site-nav A:hover {COLOR: #e221ae}
#site-nav .quick-menu {left:20%; POSITION: absolute; TOP: 15px;}
#site-nav .quick-menu LI {PADDING-RIGHT: 20px; BACKGROUND-POSITION: right 10px; PADDING-LEFT: 50px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: -1px; PADDING-TOP: 2px;font-size: 120%;font-weight: bold; font-family: Arial, Tahoma, sans-serif;color:#e95e95;}
#site-nav .quick-menu LI.menu-item {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: relative}
#site-nav .quick-menu .cart {PADDING-TOP: 0px; POSITION: relative; _padding-top: 0px}
#site-nav .quick-menu .cart A {}
#site-nav .quick-menu .cart S {BACKGROUND-POSITION: -83px -21px; LEFT: 8px; WIDTH: 14px; POSITION: absolute; TOP: 6px; HEIGHT: 11px}
#site-nav .menu-hd {PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 5px; Z-INDEX: 10002; PADDING-BOTTOM: -10px; MARGIN: 1px 1px 0px ;CURSOR: pointer; POSITION: relative; HEIGHT: 23px;}
#site-nav .services .menu-hd {WIDTH: 48px; PADDING-TOP: 1px; _padding-top: 1px}
#site-nav .menu-hd B {BORDER-RIGHT: #fae9f3 4px solid; BORDER-TOP: #666 4px solid; FONT-SIZE: 0px; RIGHT: 10px; BORDER-LEFT: #fae9f3 4px solid; WIDTH: 0px; LINE-HEIGHT: 0; BORDER-BOTTOM: #fae9f3 4px solid; POSITION: absolute; TOP: 7px; HEIGHT: 0px; -webkit-transition: -webkit-transform .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: -webkit-transform .2s ease-in}
#site-nav .menu-bd {BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; DISPLAY: none; Z-INDEX: 10001; RIGHT: 0px; BACKGROUND: #fff; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 1px solid; POSITION: absolute; TOP: 10px}
#site-nav IFRAME.menu-bd {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; Z-INDEX: 10001; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: alpha(opacity=0); FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px}
#site-nav .menu-bd-panel {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; PADDING-TOP: 0px;font-size: 100%;font-weight: bold; font-family: Arial, Tahoma, sans-serif;color:#e95e95;}
#site-nav .menu-item-opp .menu-bd {LEFT: 0px}
#site-nav .menu-item-opp .menu-bd S.rt {LEFT: 0px}
#site-nav .menu-item-opp .menu-bd S.lt {BACKGROUND-POSITION: -87px -55px; RIGHT: -2px; LEFT: auto}
#site-nav .menu {POSITION: relative}
#site-nav .menu:hover .menu-hd {BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; BACKGROUND: white; MARGIN: 0px; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 1px;}
#site-nav .hover .menu-hd {BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; BACKGROUND: white; MARGIN: 0px; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 1px;}
#site-nav .menu:hover .menu-bd {DISPLAY: block;margin:0 auto;}
#site-nav .hover .menu-bd {DISPLAY: block}
#site-nav .menu:hover .menu-hd B {BORDER-LEFT-COLOR: #fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #666; TOP: 5px; BORDER-RIGHT-COLOR: #fff; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%}
#site-nav .hover .menu-hd B {BORDER-LEFT-COLOR: #fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #666; TOP: 5px; BORDER-RIGHT-COLOR: #fff; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%}
#site-nav .services .menu-bd {WIDTH: 174px; TOP: 21px; HEIGHT: 218px}
#site-nav .services .menu-bd-panel {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px}
#site-nav .services .menu-bd DL {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 30px; }
#site-nav .services .menu-bd .last {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px;}
#site-nav .services .menu-bd DT {FONT-WEIGHT: bold; COLOR: #8c8c8c; LINE-HEIGHT: 1.5; TEXT-ALIGN: center;font-size: 80%;font-weight: bold; font-family: Arial, Tahoma, sans-serif;color:#e95e95;}
#site-nav .services .menu-bd DD {LINE-HEIGHT: 1.6; }

/***************************************搜索框*********************************/

.inp{height:24px;width:210px;border:1px solid #fae9f3;border-radius:5px;float:right;margin-right:14.8%;margin-top:-30px;}
.select2{height:26px;width:25px;float:right;background-color:#fff;border-radius:0px;}
.input{height:24px;width:185px;float:left;}
#mainContent1{height:580px;width:76%;border-right-width:2px;border-style:solid;border-color:#f2c4de;}
#mainContent2{height:580px;width:23.5%;float:right;margin-top:-580px;}

/*************************************中间书写部分*****************************/

#write_center{height:580px;border-top:1px solid #f2c4de;border-radius:1px;}
#write_top{height:40px;margin-top:20px;padding-left:50px;}
#write_top span{font-size: 300%; font-weight: bold; font-family:楷体;color:#e95e95;}
#write_neirong{height:480px;margin-top:30px;}
#write_biaoti{height:60px;width:90%;margin:0 auto;}
#write_biaoti span{font-size: 100%; font-weight: bold; font-family: Arial, Tahoma, sans-serif;color:gray;}
#write_neirong1{height:340px;width:90%;margin:10px auto;}
#write_neirong1 span{font-size:100%; font-weight: bold; font-family: Arial, Tahoma, sans-serif;color:gray;}
#write_button{height:60px;width:90%;margin:0 auto;}
#write_button input{font-size: 200%; font-weight: bold; font-family: 楷体;color:#090909;height:34px;width:109px;}

/**********************************左边的部分*********************************/

#right{height:395px;margin:105px auto;}
#right_span{text-align:center;margin-top:-5px;}















